@{
    Dictionary<Form, int[]> data = ViewBag.Data;
    var currentYear = DateTime.Now.Year;
    var currentQuarter = DateTime.Now.GetQuarter();
}
<table class="table">
    <thead>
        <tr>
            <th style="width:300px;">表单名称</th>
            <th>时段</th>
        </tr>
    </thead>
    @foreach (var kv in data)
    {
        var form = kv.Key;
        var years = kv.Value;

        <tr>
            <td>@(form.Name)</td>
            <td>
                    @foreach (var year in years.OrderByDescending(y => y))
                    {
                        <div class="col-md-12" style="margin:5px;">
                            @for (var quarter = 4; quarter > 0; quarter--)
                            {
                                if (currentYear == year && quarter > currentQuarter)
                                {
                                    continue;
                                }
                                var href = "/chart/?formId=" + form.ID + "&year=" + year + "&quarter=" + quarter;
                                <div class="col-md-3">
                                    <a href="@(href)" class="btn btn-default btn-sm">
                                        @(year)年@(quarter)季度
                                    </a>
                                </div>
                            }
                        </div>
                    }
            </td>
        </tr>
    }
</table>
