@{
    List<Form> list = ViewBag.Forms;
    UserRole role = ((UserIdentity)ViewBag.CurrentIdentity).Role;
    var hasEditRight = role >= UserRole.Advanced;
    ViewBag.Title = "表单列表";

}

<h2 class="page-header">
    @(ViewBag.Title)
    @if (hasEditRight)
    {
        <a class="btn btn-success" href="/form/edit" data-toggle="modal" data-target="#modal">
            <i class="glyphicon glyphicon-plus"></i>添加表单
        </a>
        <a class="btn btn-warning" href="/excel/import" data-toggle="modal" data-target="#modal">
            <i class="fa fa-download"></i> 导入数据
        </a>
    }
    <a class="btn btn-info" href="/excel/export" data-toggle="modal" data-target="#modal">
        <i class="fa fa-upload"></i> 导出报表
    </a>
</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th style="width:60px;">ID</th>
            <th>报表名称</th>
            <th style="width:100px;">统计图表</th>
            <th style="width:100px;">分类管理</th>
            <th style="width:100px;">数据管理</th>
            <th style="width:150px;">操作</th>
        </tr>
    </thead>
    @foreach (var item in list)
    {
        <tr>
            <td>@(item.ID)</td>
            <td><a href="/node/?formId=@(item.ID)">@(item.Name)</a></td>
            <td>
                <a href="/chart/?formId=@(item.ID)" class="btn btn-success btn-xs" title="统计"><i class="fa fa-bar-chart"></i> 查看报表</a>
            </td>
            <td>
                <a href="/node/?formId=@(item.ID)" class="btn btn-info btn-xs" title="统计"><i class="fa fa-list"></i> 查看分类</a>
            </td>
            <td>
                <a href="/node/editValues?formId=@(item.ID)" class="btn btn-primary btn-xs" title="添加/编辑记录"><i class="fa fa-database"></i> 录入数据</a>
            </td>
            <td>
                @if (hasEditRight)
                {
                    <a href="/form/edit?id=@(item.ID)" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal" title="编辑"><i class="fa fa-pencil"></i> 编辑</a>
                    <a href="/form/delete?id=@(item.ID)" class="btn btn-danger btn-xs" title="删除" data-target="#delete"><i class="glyphicon glyphicon-remove"></i> 删除</a>
                }
            </td>
        </tr>
    }
</table>