@{
    ViewBag.Title = "报表管理";
    List<Form> list = ViewBag.Forms;
}

<h2 class="page-header">
    @(ViewBag.Title)
    <a class="btn btn-success" href="/form/edit" data-toggle="modal" data-target="#modal">
        <i class="glyphicon glyphicon-plus"></i>添加表单
    </a>
</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>报表名称</th>
            <th style="width:250px;">操作</th>
        </tr>
    </thead>
    @foreach (var item in list)
    {
        <tr>
            <td><a href="#/node/?formId=@(item.ID)">@(item.Name)</a></td>
            <td>
                <a href="#/chat/?formId=@(item.ID)" class="btn btn-success btn-xs" title="统计"><i class="fa fa-bar-chart"></i> 统计</a>
                <a href="/form/edit?id=@(item.ID)" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal" title="编辑"><i class="fa fa-edit"></i> 编辑</a>
                <a href="/form/delete?id=@(item.ID)" class="btn btn-danger btn-xs" title="删除" data-target="#delete"><i class="fa fa-trash-o"></i> 删除</a>
            </td>
        </tr>
    }
</table>