@{
    UserRole role = ((UserIdentity)ViewBag.CurrentIdentity).Role;
    UserIdentity identity = ViewBag.CurrentIdentity;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>舟山市国土资源统计与分析系统</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <link rel="stylesheet" href="~/Content/jquery.datetimepicker.css" />

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/json2.min.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>

    <script src="~/Scripts/common.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.min.js"></script>
        <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body class="layout-content">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" data-target="#page"><i class="fa fa-line-chart"></i> 舟山市国土资源统计与分析系统</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a href="/"><i class="fa fa-home"></i> 首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-pencil-square-o"></i> 数据录入 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/form/write" data-toggle="modal" data-target="#modal">录入数据</a></li>
                        <li><a href="/data/import" data-toggle="modal" data-target="#modal">导入数据</a></li>
                    </ul>
                </li>
                <li><a href="/chart/"><i class="fa fa-pie-chart"></i> 统计图表</a></li>
                @if (role > UserRole.Branch)
                {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-share"></i> 数据导出 <span class="caret"></span></a> 
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/data/exportstatistic" data-toggle="modal" data-target="#modal">统计报表</a></li>
                        <li><a href="/data/exporttrend" data-toggle="modal" data-target="#modal">国土资源形势</a></li>
                    </ul>
                </li>
                }
                @if (role >= UserRole.Advanced)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-send"></i> 调控档案<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Archive/Import" data-toggle="modal" data-target="#modal">档案上传</a></li>
                            <li><a href="/Archive/">档案管理</a></li>
                            <li><a href="/Archive/Search">档案查询</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-gear"></i> 系统维护 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/form">表单列表</a></li>
                            <li><a href="/form/edit" data-toggle="modal" data-target="#modal">添加表单</a></li>
                            <li class="divider"></li>
                            <li><a href="/area/">地区管理</a></li>
                            <li class="divider"></li>
                            <li><a href="/valuetype/">单位类型管理</a></li>
                            <li><a href="/Season/">季度填报时间管理</a></li>
                            <li><a href="/Season/Statistic">填报统计情况</a></li>
                            @if (role == UserRole.Administrator)
                            {
                                <li class="divider"></li>
                                <li><a href="/user">用户列表</a></li>
                                    <li><a href="/user/edit" data-toggle="modal" data-target="#modal">添加用户</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@(identity.Name) <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/user/editpassword" data-toggle="modal" data-target="#modal">修改密码</a></li>
                        <li><a href="/user/logout" data-target="#page">退出</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

    <div id="main">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    <div id="modal" class="modal fade" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        //弹窗
        $('#modal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });

        //菜单折叠
        $("#sidebar a").click(function () {
            $("#sidebar li").removeClass("active");
            var parent = $(this).parent();
            parent.addClass("active");
        });

        window.location.history = {};
        $(window).on('hashchange', function () {
            //程序需要记录上一次的loadUrl使用的targetId
            var href = window.location.hash.substring(1);
            if (href) {
                var targetId = window.location.history[href];
                if (targetId) {
                    $(targetId).loadUrl(href);
                }
            } else {
                $("#body").loadUrl("/");
            }
        });

        $.loadMain(window.location.hash);

        $(document).on("click", "a", function () {
            var self = $(this);
            var targetId = self.attr("data-target") || "#main";
            var href = self.attr("href");
            //如果是空连接，不处理
            if (!href || href == "#") {
                return;
            }
            //如果是javascript连接，则不处理
            if (href.indexOf("javascript:") == 0 || targetId == "#page") {
                return;
            }

            //如果是bootstrap的modal弹窗，则不做处理
            if (self.attr("data-toggle") == "modal") {
                return;
            }

            if (self.hasClass("btn-delete") || targetId == "#delete") {
                if (confirm("你确定要删除这条记录吗？")) {
                    $.request(href, function () {
                        $("#main").reload();
                    });
                }
                return false;
            }

            var parent_parent = self.parent().parent();
            //如果是分页链接，如果没有指定targetId 则默认为 #main
            if (parent_parent.hasClass("sidebar-menu")) {
                //如果是左侧菜单连接，则更换链接的背景色
                $("#sidebar li").removeClass("active");
                var parent = self.parent();
                parent.addClass("active");
            }
            else if (parent_parent.hasClass("dropdown-menu")) {
                //如果是下拉菜单，则隐藏菜单
                parent_parent.parent().removeClass("open");
            }

            //如果没有指定targetId，则不处理
            if (!targetId) {
                return;
            }

            //如果指定了targetId，则刷新targetId内容
            $(targetId).loadUrl(href);
            return false;
        });
    });
</script>