@{
    UserRole role = ((LoowooTech.Land.Zhoushan.Web.Security.UserIdentity)ViewBag.CurrentIdentity).Role;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>舟山国土资源局统计季报</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/json2.min.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>

    <script src="~/Scripts/common.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.min.js"></script>
        <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body class="layout-content">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a href="/" class="navbar-brand" data-target="#page"><i class="fa fa-line-chart"></i> 舟山国土资源局统计季报</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a href="/form/charts"><i class="fa fa-pie-chart"></i> 统计报表</a></li>
                @if (role == UserRole.Administrator)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> 用户管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/user">用户列表</a></li>
                            <li><a href="/user/edit" data-toggle="modal" data-target="#modal">添加用户</a></li>
                        </ul>
                    </li>
                }
                @if (role >= UserRole.Writer)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-files-o"></i> 表单管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/form">表单列表</a></li>
                            <li><a href="/form/edit" data-toggle="modal" data-target="#modal">添加表单</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-gear"></i> 字典管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/area/">地区管理</a></li>
                            <li class="divider"></li>
                            <li><a href="/valuetype/">单位类型管理</a></li>
                        </ul>
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administrator <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/user/editpassword" data-toggle="modal" data-target="#modal">修改密码</a></li>
                        <li><a href="/user/logout" data-target="#page">退出</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <div id="main">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    <div id="modal" class="modal fade" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        //弹窗
        $('#modal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });

        //菜单折叠
        $("#sidebar a").click(function () {
            $("#sidebar li").removeClass("active");
            var parent = $(this).parent();
            parent.addClass("active");
        });

        $.loadMain(window.location.hash);

        $(document).on("click", "a", function () {
            var targetId = $(this).attr("data-target") || "#main";
            var href = $(this).attr("href");
            if (href.indexOf("javascript:") > -1) {
                return;
            }
            //如果是弹窗放行
            if (targetId == "#modal") {
                return;
            }
            //如果是删除，执行删除询问
            if (targetId == "#delete") {
                if (confirm("你确定要删除该记录吗？")) {
                    $.request(href);
                }
                return false;
            }
            if (targetId == "#page") {
                return;
            }
            if (targetId == "#javascript") {
                return;
            }

            //如果指定了targetId，则刷新targetId内容
            $(targetId).loadUrl(href);
            return false;
        });
    });
</script>