<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>舟山国土资源局统计季报</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script  src="~/Scripts/common.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.min.js"></script>
        <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body class="layout-content">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">舟山国土资源局统计季报</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administrator <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">修改密码</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <div class="sidebar sidebar-light" id="sidebar">
        <div class="sidebar-heading"><i class="glyphicon glyphicon-cog"></i> 系统管理</div>
        <ul class="sidebar-menu">
            <li>
                <a href="/user/">
                    <i class="glyphicon glyphicon-user"></i> 管理员用户
                </a>
            </li>
            <li>
                <a href="/data/">
                    <i class="glyphicon glyphicon-list-alt"></i> 数据任务管理
                </a>
            </li>
        </ul>
        <div class="sidebar-heading"><i class="glyphicon glyphicon-stats"></i> 报表管理</div>
        <ul class="sidebar-menu">
            <li>
                <a href="/chat/">
                    <i class="glyphicon glyphicon-search"></i> 查询统计
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="glyphicon glyphicon-edit"></i> 填报数据
                </a>
            </li>
        </ul>
    </div>
    <div id="main-container">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    <div id="modal" class="modal fade" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        //弹窗
        $('#modal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });

        //菜单折叠
        $("#sidebar a").click(function () {
            $("#sidebar li").removeClass("active");
            var parent = $(this).parent();
            parent.addClass("active");
            var href = $(this).attr("href");
            if (href) {
                $("#main-container").load(href);
                return false;
            }
        });
    });
</script>