@model NodeValueTime?
@{
    var names = Enum.GetNames(typeof(NodeValueTime));
}
<select name="TimeId" class="form-control">
    @foreach (var name in names)
    {
        var val = (NodeValueTime)Enum.Parse(typeof(NodeValueTime), name);
        var selected = Model == val;
        <option value="@(val)" @(selected?" selected":"")>@(val.GetDescription())</option>
    }
</select>


