@model Node
@{
    var model = Model ?? new Node();
    List<NodeValueType> types = ViewBag.ValueTypes;

}
<tr class="node-item" id="node-item-@(model.ID)">
    <td class="node-level-@(model.Level)">
        @(model.Name)
    </td>
    @foreach (var typeId in model.NodeValueTypes)
    {
        var type = types.FirstOrDefault(e => e.ID == typeId);
        if (type == null)
        {
            continue;
        }
        <td>
            <input type="text" class="node-value form-control input-sm col-sm-1" id="node-value-@(type.ID)" nodeId="@(model.ID)" typeId="@(type.ID)" />
            &nbsp; @(type.Name)（@(type.Unit)）
        </td>
    }
</tr>
@foreach (var child in model.Children)
{
    Html.RenderPartial("_NodeValueListItem", child);
}

