@model Node
@{
    var model = Model ?? new Node();
}
<tr class="node-item">
    <td>@(model.ID)</td>
    <td class="node-level-@(model.Level)">
        <a href="/node/values?nodeId=@(model.ID)">@(model.Name)</a>
    </td>
    <td>
        @(model.Group)
    </td>
    <td>
        <a href="/node/values?nodeId=@(model.ID)" class="btn btn-default btn-xs"><i class="fa fa-history"></i> 记录</a>
        <a href="/node/editvalue?nodeId=@(model.ID)" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal"><i class="fa fa-plus"></i> 添加记录</a>
        <a href="/node/edit?id=@(model.ID)" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal"><i class="fa fa-pencil"></i> 编辑</a>
        <a href="/node/edit?parentId=@(model.ID)" class="btn btn-success btn-xs" data-toggle="modal" data-target="#modal" title=""><i class="glyphicon glyphicon-plus"></i> 添加子项</a>
        <a href="/node/delete?id=@(model.ID)" class="btn btn-danger btn-xs" data-target="#delete"><i class="glyphicon glyphicon-remove"></i> 删除</a>
    </td>
</tr>
@foreach (var child in model.Children)
{
    Html.RenderPartial("_NodeListItem", child);
}

