@{
    Node model = ViewBag.Model;
    var isAdd = model.ID == 0;
    ViewBag.Title = isAdd ? "添加分类" : "修改分类";

}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-@(isAdd?"plus":"pencil")"></i>@(ViewBag.Title)</h3>
    </div>
    <div class="panel-body">
        <form id="form-node" action="/node/edit?id=@(model.ID)" method="post" class="form-horizontal">
            <div class="modal-body">
                <input type="hidden" name="FormId" value="@(model.FormID)" />
                <input type="hidden" name="ParentId" value="@(model.ParentID)" />
                <div class="form-group">
                    <label for="Type" class="control-label col-lg-3">分类名称</label>
                    <div class="col-lg-8">
                        <input type="text" name="Name" class="form-control" value="@(model.Name)" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-8 col-lg-offset-3">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 确定</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
        $("#form-node").registerSubmit(function () {
            $.closeWindow();
            $.loadMain();
        });
    });
</script>
