@{
    if (!IsAjax)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    ViewBag.Title = "欢迎页";
    UserRole role = ((UserIdentity)ViewBag.CurrentIdentity).Role;
}
<h3 class="page-header">欢迎页</h3>
<div class="col-lg-6">
    <blockquote>
        <p><i class="fa fa-pencil fa-2x text-info"></i>&nbsp;<a href="/form/write" data-toggle="modal" data-target="#modal">数据填报</a></p>
        <small>选择年份、季度等信息，手动录入表单分类的数据。</small>
    </blockquote>
</div>
<div class="col-lg-6">
    <blockquote>
        <p><i class="fa fa-download fa-2x text-info"></i>&nbsp;<a  href="/data/import" data-toggle="modal" data-target="#modal">数据导入</a></p>
        <small>根据系统提供的数据导入样板导入Excel数据。</small>
    </blockquote>
</div>

<div class="col-lg-6">
    <blockquote>
        <p><i class="fa fa-pie-chart fa-2x text-info"></i>&nbsp;<a href="/chart/">统计图表</a></p>
        <small>快捷查看各个表单历年来各季度统计结果</small>
    </blockquote>
</div>
@if (role > UserRole.Branch)
{
<div class="col-lg-6">
    <blockquote>
        <p><i class="fa fa-mail-forward fa-2x text-info"></i>&nbsp;<a href="/data/ExportStatistic" data-toggle="modal" data-target="#modal">报表导出</a></p>
        <small>选择具体的表单和日期，导出相应的报表</small>
    </blockquote>
</div>
}
@if (role > UserRole.City)
{
    <div class="col-lg-6">
        <blockquote>
            <p><i class="fa fa-archive fa-2x text-info"></i>&nbsp;<a href="/Archive/">调控档案</a></p>
            <small>上传、管理和下载调控档案文档。</small>
        </blockquote>
    </div>
}
else
{
    <div class="col-lg-6">
        <blockquote>
            <p><i class="fa fa-archive fa-2x text-info"></i>&nbsp;<a href="/Archive/search">调控档案</a></p>
            <small>查询和下载调控档案文档。</small>
        </blockquote>
    </div>
}
@if (role > UserRole.Advanced)
{
    <div class="col-lg-6">
        <blockquote>
            <p><i class="fa fa-gear fa-2x text-info"></i>&nbsp;<a href="#">系统维护</a></p>
            <small>
                维护<a href="/form">表单列表</a>，
                <a href="/valuetype">数据单位</a>，
                <a href="/area">地区管理</a>
            </small>
        </blockquote>
    </div>

}
