<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="DbConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.31.197;Initial Catalog=zhoushanland;User ID=loowootech;Password=123456" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="AuthenticateModule" type="LowooTech.Land.Zhoushan.Web.AuthenticateModule"/>
    </modules>
    <httpErrors existingResponse="PassThrough"></httpErrors>
  </system.webServer>
</configuration>
