<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="DbConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=47.97.27.26;Initial Catalog=GTZY_TJFX;User ID=sa;Password=Ztop123$%^;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <!--<add name="DbConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=10.80.12.99;Initial Catalog=GTZY_TJFX;User ID=sa;Password=Zhoushan123$%^;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
  </connectionStrings>
  <appSettings>
    <add key="CITY" value="市本级" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="AuthenticateModule" type="LoowooTech.Land.Zhoushan.Web.AuthenticateModule" />
    </modules>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>