@model Area
<tr>
    <td>@(Model.ID)</td>
    <td>
        @(new string('-',Model.Level))
        @(Model.Name)
    </td>
    <td style="width:80px;">
        <a href="/area/edit?id=@(Model.ID)" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal" title="编辑"><i class="fa fa-edit"></i></a>
        <a href="/area/delete?id=@(Model.ID)" class="btn btn-danger btn-xs btn-delete" title="删除"><i class="fa fa-trash-o"></i></a>
    </td>
</tr>
@foreach (var child in Model.Children)
{
    Html.RenderPartial("_AreaListItem", child);
}