@{
    NodeValueType model = ViewBag.Model;
    var isAdd = model.ID == 0;
    ViewBag.Title = isAdd ? "添加类型" : "修改类型";
}
<form id="form-type" action="/ValueType/edit?id=@(model.ID)" method="post" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="glyphicon glyphicon-@(isAdd?"plus":"pencil")"></i> @(model.ID == 0 ? "添加" : "修改")类型</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label col-md-3">类型名称</label>
            <div class="col-md-8">
                <input type="text" name="name" class="form-control" value="@(model.Name)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">换算倍数</label>
            <div class="col-md-8">
                <input type="text" name="Ratio" class="form-control" value="@(model.Ratio)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">单位</label>
            <div class="col-md-8">
                <input type="text" name="units" class="form-control" value="@(model.Units)" />
                <span class="help-block">单位请从小到大排列，用英文逗号,隔开。例如 亩,公顷</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-8 col-md-offset-3">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 确定</button>
        </div>
    </div>
</form>
<script>
    $(function () {
        $("#form-type").setForm(function () {
            $.closeModal();
            $.reloadPage();
        });
    });
</script>
