@{
    ViewBag.Title = "档案管理";
    Dictionary<int, List<Dossier>> dict = ViewBag.Dict;
}


<table class="table">
    <thead>
        <tr>
            <th colspan="2">国土资源调控档案</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in dict)
        {
            var dossiers = entry.Value;
            <tr>
                <td>@(entry.Key)年</td>
                <td>
                    <div class="col-md-12" style="margin:5px;">
                        @foreach (var dossier in dossiers)
                        {
                            <div class="col-md-3">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@string.Format("{0}年{1}", dossier.Year, dossier.Quarter.GetDescription())<span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Archive/Import/?id=@(dossier.ID)" data-toggle="modal" data-target="#modal"><i class="glyphicon glyphicon-edit"></i>编辑</a></li>
                                        <li role="separator" class="divider"></li>
                                        @foreach(var file in dossier.Files)
                                        {
                                            <li><a href="/@(file.FilePath)" data-target="#page" target="_blank">@(file.FileName)</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
