<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>舟山市国土资源统计与分析系统 </title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.min.js"></script>
        <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
    <style>
        .page-container { padding-top: 20%; color: #fff; }
        .login-container { background: url("/images/login-bg.png"); }
        .login-title { font-size: 2em; text-align: center; line-height: 3em; }
        .login-copyright { text-align: center; line-height: 2em; }
        .login-panel { margin: 0 auto 20px; background: rgba(255, 255, 255, 0.15); }
        .login-form { margin: 0 auto; display: block; padding: 30px 0; overflow: hidden; text-align: center; width: 600px; }
            .login-form .form-group { float: left; margin: 0; margin-right: 10px; }
        .has-feedback-left .form-control-feedback { right: auto; left: 0; }

        .has-feedback-left .form-control { padding-right: 12px; padding-left: 36px; }

        .has-feedback .form-control { padding-right: 36px; }

        .has-feedback .form-control { padding-right: 45px; }

        .form-control-feedback { width: 38px; color: #333; z-index: 3; }

        .form-control-feedback { position: absolute; top: 0; right: 0; z-index: 2; display: block; width: 36px; height: 36px; line-height: 36px; text-align: center; pointer-events: none; font-size: 1.3em; }
    </style>
</head>

<body class="login-container">
    <div class="page-container">
        <div class="login-title">
            舟山市国土资源统计与分析系统
        </div>
        <div class="login-panel">
            <form id="form-login" method="post" action="/user/login">
                <div class="login-form">
                    <div class="form-group has-feedback has-feedback-left">
                        <input type="text" name="Username" class="form-control" placeholder="用户名">
                        <div class="form-control-feedback">
                            <i class="fa fa-user text-info"></i>
                        </div>
                    </div>

                    <div class="form-group has-feedback has-feedback-left">
                        <input type="password" name="password" class="form-control" placeholder="密码">
                        <div class="form-control-feedback">
                            <i class="fa fa-key text-info"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" id="btn-submit" class="btn btn-primary btn-block"><i class="fa fa-arrow-circle-o-right"></i> 登 录</button>
                    </div>

                </div>
            </form>
        </div>
        <div class="login-copyright">
            &copy;舟山市国土资源局  陆吾科技 技术支持
        </div>
    </div>
    <script>
        $(function () {
            $("#form-login").setForm(function () {
                window.location.href = "/";
            });
        });
    </script>
</body>
</html>
